.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 10%;
    font-size: 20px;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 12%;
    font-size: 80px;
  }
  
  .headerImg {
    width: 100%;
    height: 700px;
    margin-top: 80px;
    object-fit: cover;
  }